<div class="container">
  <div class="row">
    <div class="col-md-auto">
      <h2>ユーザー登録</h2>
      <h5>新規アカウントの作成</h5>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: resource, as: resource_name, url: registration_path(resource_name), local: true do |f|%>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :"名前"%>
          </div>
          <div class='field-input'>
            <%= f.text_field :name, autofocus: true%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :"eメールアドレス"%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :"パスワード"%>
            <i>(半角英数字6文字以上)</i>
          </div>
          <div class='field-input'>
            <%= f.password_field :password, autocomplete: "off"%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :"パスワード確認"%>
          </div>
          <div class='field-input'>
            <%= f.password_field :password_confirmation, autocomplete: "off"%>
          </div>
        </div>
        <div class='actions'>
          <%= f.submit "アカウント作成", {class: "btn btn-outline-dark my-3 "} %>
        </div>
        <div class="toppage-btn">
          <%= link_to('TOPページへ戻る', root_path, {class: "btn btn-outline-dark my-3 "}) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
