<header class='top-page-header'>
  <div class='dp-header'>
  不良品報告の部屋
  </div>  
  <div class="nav">
    <ul class='lists-left'>
      <%= link_to '不良品報告する', new_dp_path %>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= current_user.name %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %><li>
      <% end %>
    </ul>
  </div>
</header>