<%= form_with model:@dp, local: true do |f| %>
  <%= render 'error_messages', model: @dp %>
  <h1>不良品報告編集</h1>
  <div class="field">
   <%= f.label :name, "商品名" %>
   <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :product_number, "品番_色(半角英数値)" %>
    <%= f.text_field :product_number %>
  </div>
  <div class="field">
    <%= f.label :jan_code, "JAN(半角数値)" %>
    <%= f.text_field :jan_code %>
  </div>
  <div class="field">
    <%= f.label :client, "取引先名・店舗名" %>
    <%= f.text_field :client %>
  </div>
  <div class="field">
    <%= f.label :confirm_date, "不良品確認日" %>
    <%= f.text_field :confirm_date %>
  </div>
  <div class="field">
    <%= f.label :source_id, "情報元(リストから選択)" %>
    <%= f.collection_select(:source_id,Source.all, :id, :name, {}, {class:"source-select"}) %>
  </div>
  <div class="field">
    <%= f.label :occurrence_date, "不良品発生日" %>
    <%= f.text_field :occurrence_date %>
  </div>
  <div class="field">
    <%= f.label :lotnumber, "ロットナンバー" %>
    <%= f.text_field :lotnumber %>
  </div>
  <div class="field">
    <%= f.label :return_id, "返品有無(リストから選択)" %>
    <%= f.collection_select(:return_id,Return.all, :id, :name, {}, {class:"return-select"}) %>
  </div>
  <div class="field">
    <%= f.label :category_id, "不良の種類(リストから選択)" %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
  </div>
  <div class="field">
    <%= f.label :content, "不良の内容" %>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :image, "画像" %>
    <%= f.file_field :image, id:"dp-image" %>
  </div>

  <div class="actions">
    <%= f.submit "報告する" %>
  </div>
<% end %>
<%= link_to 'TOPページへ戻る', root_path %>