<div class="container">
  <div class="row">
    <div class="col-md-auto">
      <%= form_with model: @dp,  local: true do |f| %>
        <h1>不良品報告編集</h1>
        <%= render 'error_messages', model: @dp %>
        <div class="form-label">
          <%= f.label :name, "商品名" %><span class="text-danger"> ※必須</span>
          <%= f.text_field :name, class: "form-control", placeholder: "例)ブロンクス" %>
        </div>
        <div class="form-label">
          <%= f.label :product_number, "品番_色(半角英数値)" %><span class="text-danger"> ※必須</span>
          <%= f.text_field :product_number, class: "form-control", placeholder: "例)ABX-800 BR" %>
        </div>
        <div class="form-label">
          <%= f.label :jan_code, "JAN(半角数値)" %>
          <%= f.text_field :jan_code, class: "form-control", placeholder: "例)4932528000000" %>
        </div>
        <div class="form-label">
          <%= f.label :client, "取引先名・店舗名" %>
          <%= f.text_field :client, class: "form-control", placeholder: "例)ジョイフル本田千葉NT店" %>
        </div>
        <div class="form-label">
          <%= f.label :confirm_date, "不良品確認日" %>
          <%= f.date_field :confirm_date, class: "form-control" %>
        </div>
        <div class="form-label">
          <%= f.label :source_id, "情報元(リストから選択)" %>
          <%= f.collection_select(:source_id,Source.all, :id, :name, {}, {class:"form-control"}) %>
        </div>
        <div class="form-label">
          <%= f.label :occurrence_date, "不良品発生日" %>
          <%= f.date_field :occurrence_date, class: "form-control" %>
        </div>
        <div class="form-label">
          <%= f.label :lotnumber, "ロットナンバー" %>
          <%= f.text_field :lotnumber, class: "form-control", placeholder: "例)ABC-001" %>
        </div>
        <div class="form-label">
          <%= f.label :return_id, "返品有無(リストから選択)" %>
          <%= f.collection_select(:return_id,Return.all, :id, :name, {}, {class:"form-control"}) %>
        </div>
        <div class="form-label">
          <%= f.label :category_id, "不良の種類(リストから選択)" %><span class="text-danger"> ※必須</span>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-control"}) %>
        </div>
        <div class="form-label">
          <%= f.label :summary, "不良の内容(要約)" %><span class="text-danger"> ※必須</span>
          <%= f.text_area :summary, class: "form-control ", placeholder: "例)アジャスターが付いてなかった" %>
        </div>
        <div class="form-label">
          <%= f.label :content, "不良の詳細内容" %>
          <%= f.text_area :content, class: "form-control ", placeholder: "※詳細内容を記入してください" %>
        </div>
        <div class="form-label">
          <%= f.label :image, "画像" %>
          <%= f.file_field :image, id:"dp-image" %>
        </div>

        <div class="actions">
          <%= f.submit "編集する", class:"btn btn-outline-dark btn-lg my-4" %>
          <%= link_to('TOPページへ戻る', root_path, {class:"btn btn-outline-dark"}) %>
        </div>
      <% end %>
    </div>
  </div>
</div>