<%= render "header" %>

<main>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @dps.each do |dp| %>
          <div class="col">
            <div class="card shadow-sm h-100">
              <%= link_to dp_path(dp.id), method: :get, class: "card-body text-dark text-decoration-none" do %>
                <% if dp.image.attached? %>
                  <%= image_tag dp.image.variant(resize: '200x200'), class: "card-img-top" if dp.image.attached? %>
                <% else %>
                  <%= image_tag "no_image_logo.png", class: "card-img-top" %>
                <% end %>
                <h5 class="card-title name"><%= dp.name %></h5>
                <h5 class="card-title product"><%= dp.product_number %></h5>
                <p class="card-text text-truncate" style="max-height: 150ppx;"><%= dp.summary %></p>
                <small class="card-text"><%= dp.created_at.strftime('%Y/%m/%d') %></small>
              <% end %>  
            </div>  
          </div>  
        <% end %>
      </div>
    </div>
    <div class="container">
      <nav aria-label="Index pages">
        <ul class=" pagination text-decoration-none justify-content-center space-around">
          <%== pagy_bootstrap_nav(@pagy) %>
        </ul>
      </nav>
    </div>
  </div>
</main>

<footer class="text-muted py-5">
  <div class="container">
    <%= link_to "CSV出力", dps_path(format: :csv), class: "btn btn-secondary" %>
  </div>
</footer>  