<%= render "header" %>

<main>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @dps.each do |dp| %>
          <div class="col">
            <div class="card shadow-sm h-100">
              <%= link_to dp_path(dp.id), method: :get do %>
                <%= image_tag dp.image.variant(resize: '200x200'), class: "card-img-top" if dp.image.attached? %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title name"><%= dp.name %></h5>
                <h5 class="card-title product"><%= dp.product_number %></h5>
                <p class="card-text"><%= dp.content %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="card-text"><%= dp.created_at.strftime('%Y/%m/%d') %></small>
                  <button type="button" class="text-decoration-none btn btn-sm btn-outline-secondary">
                    <%= link_to dp_path(dp.id), method: :get do %>
                      <%= "詳細" %>
                    <% end %>
                  </button>
                </div>
              </div>
            </div>  
          </div>
        <% end %>
      </div>
    </div>
  </div>

</main>
<footer class="text-muted py-5">
  <div class="container">
    <%= link_to "CSV出力", dps_path(format: :csv), class: "btn btn-secondary" %>
  </div>
</footer>  