<div class="container">
  <div class="row">
    <div class="col-md-auto">
      <h2>Log in</h2>
      <h5>登録しているユーザーでログイン</h5>
      <%= render "devise/shared/links"%>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :eメールアドレス%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email, autofocus: true%>
          </div>
          <div class='field'>
            <div class='field-label'>
              <%= f.label :パスワード%>
              <i>(英数字6文字以上)</i>
            </div>
            <div class='field-input'>
              <%= f.password_field :password, autocomplete: "off"%>
            </div>
          </div>
          <div class='actions'>
            <%= f.submit "ログイン", class: 'btn btn-outline-dark my-3'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
