<!DOCTYPE html>
<html>
  <head>
    <title>DpReport(不良品報告)</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/dp-report/app/assets/stylesheets/luminous-basic.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/luminous-lightbox@2.3.2/dist/luminous-basic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/luminous-lightbox@2.3.2/dist/luminous.min.js"></script>

  </head>

  <body>
    <%= yield %>
    <script src="/dp-report/app/javascript/luminous.min.js"></script>
    <script>new LuminousGallery(document.querySelectorAll(".zoom"));</script>
  </body>
</html>
